<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="competition_map_inner">
	<gazebo>
	<static>true</static>
	</gazebo>
	<link name="world"/>

	<xacro:include filename="$(find unitree_gazebo)/urdf/obstacles/materials.xacro" />
	
	<!-- Terrain 1 -->
	<xacro:include filename="$(find unitree_gazebo)/urdf/test/terrain1_inner.urdf.xacro"/>
	<xacro:terrain1_inner parent="world" handle="1" position="+4.3601e+00 +1.2215e+00 +2.9750e-01" orientation="0 0 0"/>  
</robot>